<h2>My Influences</h2>
<br />
Of course, <b><em>Mami</em></b> (my mom),<br />
<img src="/assets/malvina.jpg" height="480" width="360"  alt="MOM!"><br />
<br />

<b><em>Frida!</em><br /></b>
<img src="/assets/frida.jpg" width="360" height="360" alt="Frida Kahlo"><br />
It's Frida Kahlo, need I say more.<br />
<br />

<b><em>Mafalda</em><br /></b>
<img src="/assets/mafalda.jpg" width="480" height="360" alt="Mafalda"><br />
Mafalda is a comic strip written and drawn by Argentine cartoonist Joaquín Salvador Lavado,
better known by his pen name Quino. The strip features a 6-year-old girl named Mafalda,
who reflects the Argentinian middle class and progressive youth, which is concerned about
humanity and world peace and rebels against the world bequeathed by their elders.
