<h1>Welcome to Mixolidia's Blog</h1>
<hr>

<a href="/" > Home </a> &nbsp;
<!-- <a href="/posts/post" > Archive </a> &nbsp; -->
<a href="/about-me" > About Me </a>
<%= yield %>

<hr>
Copyright &copy;2014 Mixolidia Gautreaux
