<h2>My Influences</h2>
<br />
Of course, <em>Mami</em> (my mom),<br />
<img src="/images/malvina.jpg" height="360" width="480"  alt="MOM!"><br />
<br />

<em>Frida!</em><br />
<img src="/images/frida.jpg" width="360" height="360" alt="Frida Kahlo"><br />
It's Frida Kahlo, need I say more.<br />
<br />

<em>Mafalda</em><br />
<img src="/images/mafalda.jpg" width="480" height="360" alt="Mafalda"><br />
Mafalda is a comic strip written and drawn by Argentine cartoonist Joaquín Salvador Lavado,
better known by his pen name Quino. The strip features a 6-year-old girl named Mafalda,
who reflects the Argentinian middle class and progressive youth, which is concerned about
humanity and world peace and rebels against the world bequeathed by their elders.
