<h2>My Influences</h2>
<hr>
Of course, Mami (my mom),
<img src="../public/images/malvina.jpeg" width="480" height="360" alt="MOM!">

Frida!
<img src="../public/images/frida.jpeg" width="480" height="360" alt="Frida Kahlo">
It's Frida Kahlo, need I say more.

Mafalda
<img src="../public/images/mafalda.jpeg" width="480" height="360" alt="Mafalda">
Mafalda is a comic strip written and drawn by Argentine cartoonist Joaquín Salvador Lavado,
better known by his pen name Quino. The strip features a 6-year-old girl named Mafalda,
who reflects the Argentinian middle class and progressive youth, which is concerned about
humanity and world peace and rebels against the world bequeathed by their elders.
